<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jason.mxlake">
    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name=".StartActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.jason.mxlake.changeavatar.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".main.MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".filemanager.FileManagerActivity" android:screenOrientation="portrait"/>
        <activity android:name=".otheractivity.VideoFitScreenActivity" android:screenOrientation="sensor" />
        <activity android:name=".email.activity.Login" android:screenOrientation="sensor" />
        <activity android:name=".email.activity.SendMail" android:screenOrientation="sensor" />
        <activity android:name=".email.activity.ReceiveList" android:screenOrientation="sensor" />
        <activity android:name=".email.activity.MailDetails" android:screenOrientation="sensor" />
        <activity android:name=".email.activity.Choose" android:screenOrientation="sensor" />
        <activity android:name=".otheractivity.ClockActivity" android:screenOrientation="sensor" />
        <activity android:name=".email.core.ResolveMail" android:screenOrientation="sensor" />
        <activity android:name=".schedule.SettingActivity" android:screenOrientation="sensor" />
        <activity android:name=".otheractivity.SignActivity" android:screenOrientation="sensor" />
        <activity android:name=".otheractivity.ChatActivity" android:screenOrientation="sensor" />
        <activity android:name=".changeavatar.activity.ModifyAvatarActivity" android:screenOrientation="sensor" />
        <activity android:name=".changeavatar.permissions.PermissionsActivity" android:screenOrientation="sensor" />

    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />
</manifest>